<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% for book in books %}

        <h1>{{ book.title }}</h1>
        <p>Author: {{ book.author }}</p>
        <p>Published: {{ book.published_date }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Pages: {{ book.pages }}</p>
        <hr>
    {% endfor %}

    {% if books|length == 0 %}
        <h2>No books available</h2>
    {% endif %}

</body>
</html>
